{
    "consumer_key": "uuuuuuuuuuuuuuuuuuuuuu",
    "consumer_secret": "cccccccccccccccccccccccccccccccccccccccccc",
    "oauth_token": "4444444444-tttttttttttttttttttttttttttttttttttttttttt",
    "oauth_token_secret": "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
    "auth_method": "oauth"
}
